/* MOBILE FIRST DESIGN */
@media (min-width: 1220px){
/* 	WIDESCREEN */

}

@media (min-width: 1000px) {
/* DESKTOP */

}

/* MOBILE BELOW (NO BREAKPOINTS) */

/* FONTS */
@font-face { font-family: 'Roboto'; font-weight: 600; font-style: normal; font-display: block; src: url("fonts/Roboto-Bold.ttf"); }
@font-face { font-family: 'Roboto'; font-weight: 400; font-style: normal; font-display: block; src: url("fonts/Roboto-Regular.ttf"); }
@font-face { font-family: 'Roboto'; font-weight: 300; font-style: normal; font-display: block; src: url("fonts/Roboto-Light.ttf"); }

/* GENERAL */
body {background: #353535;color: #d8d8d8;background-image:url(https://www.barbershop-zigzag.com.au/files/2024/08/green-bg.jpg)}
body article .panel-grid > div {max-width: 100% !important;}
body .primary-menu ul {pointer-events: none;top:calc(100% + 1rem);}
#content p, #content a, #content ul {font-family: 'Roboto', sans-serif!important; font-size: 15px; }
#content ul {margin: 0 0 1.5em 0em; font-size: 15px;}
#content a, #content a:active, #content a:visited, a:focus {color: #f4d540; text-decoration: none; }
#content a:hover {text-decoration: underline; }

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {font-family: 'Roboto', sans-serif; text-transform: uppercase;}
#content h1 { color: #f4d540;  }

/* HEADER */
.site-header {border-bottom: 0px solid #d8d8d8 !important;}
.site-header {position: relative; padding:0; }
.site-header  section {max-width: 100%; }
.site-header .section .so-panel {margin-bottom: 0 !important; }
.site-header .fixed {/*background: rgba(53, 53, 53, 0.8) !important;*/ padding: 10px; }
.site-header .logo {width: 400px; max-width: 100%; opacity: 0.9; margin: 10px auto; }
.site-header  .social {position: absolute; right: 20px; top: 2em; text-align: right; }
.site-header .social a.telephone {color: #d8d8d8; text-decoration: none; }
.site-header  .social a[class*="sg-social"] {background-color: transparent;  width: 32px; height: 32px; margin-top: 10px; text-indent: 999em; vertical-align: top; overflow: hidden; }
.site-header .panel-grid-cell:nth-child(1) {padding-top:20px;}
.site-header  {background: transparent; margin-bottom: 1em; }

.site-header .row0 {display: flex;justify-content: space-between;align-items:center;padding:10px 40px;}
.site-header .row0 .column {flex: 1 0 33%;}
.site-header  .row0 .column:nth-child(1) {text-align: left; }
.site-header  .row0 .column:nth-child(2) {text-align: center; }
.site-header  .row0 .column:nth-child(3) {text-align: right; }
.site-header  .row0 .socialmedia {text-align:right;}
.site-header .row0 a.social-media-button {padding:5px;font-size:20px;line-height:1;text-decoration:none;color:#fff!important;}
.site-header  .row0 a.social-media-button:hover {color: #f4d540!important;}
.site-header  .row0 .wout-button:hover {background:#f4d540;}

/* NAVIGATION */
.header-navigation-wrapper {padding:10px 0;background:rgba(0,0,0,0.3);}
.primary-menu li a { font-family:'Roboto', sans-serif; text-transform:uppercase; color:#d8d8d8; font-weight:700; font-size:14px; transition:all 0.25s; }
.primary-menu li a:hover { color:#f4d540; }
.primary-menu .current-menu-item > a { color:#f4d540; }
.primary-menu .current-menu-ancestor > a { color:#f4d540; }
.primary-menu .sub-menu { background:rgba(0,0,0,0.8); box-shadow:none; }
ul.primary-menu {padding:5px !important;}

/* SECONDARY */
#secondary {margin-top: 3em; padding-left: 10px; }
#secondary input[type="search"] {width: 65%; }
#secondary .search-submit {background: #f4d540; color: #fff; line-height: 1.5; font-family: 'Roboto', sans-serif; text-transform: uppercase; }
#secondary .widget-title {text-align: center; }


/* OLD HOME
.home #masthead {position: fixed; top: 0; left: 0; width: 100%; background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.01)); margin-bottom: 0; padding-bottom: 3em; z-index: 9999 }
.logged-in.home #masthead {top: 32px; }

.home .seotext .seotext-inner {max-width: 950px; margin: 0 auto; text-align: center; }
.home .seotext .seotext-inner a {text-decoration: none !important; }
.home .seotext .seotext-inner h2 {cursor: pointer; }  */

/* HOME 2024 */
.home #primary #main {padding: 0; }
.home #primary #main .entry-content {margin: 0; }
.home .sow-image-container .so-widget-image, .home .view, .home .view img {width: 100% !important; }
.home #content, .home #content #primary {width: 100%; max-width: 100%; }
.home .banner-row {padding:0px !important}
.page-id-782 .entry-content {margin:0px;}
.page-id-782 .hentry {margin:0px;padding:0px;}
.page-id-782 #masthead {background: transparent;margin-bottom: 0em;}
.page-id-782 #content {width: 100%;max-width: 100%;}
.page-id-782 #primary #main {padding: 0px;}
.page-id-782 #primary .panel-grid .width-full-1200 {width: 100%;max-width: 100%;padding-right: calc((100% - 1200px) / 2);padding-left: calc((100% - 1200px) / 2);}
.page-id-782 .banner-row:after {content:'';position:absolute;bottom:0px;left:0px;height:30px;width:100%;background: url(https://www.barbershop-zigzag.com.au/files/2024/08/border.jpg);}
.page-id-782 .banner-row {position:relative;}
.page-id-782 .seo-row {min-height:550px;}
.page-id-782 .seo-row p {font-size:18px!important;}
.page-id-782 .reviews-row {padding:4em 0em;}
.page-id-782 .reviews-row h2, .page-id-782 .seo-row h2 {font-size:36px; text-transform: uppercase;}
.page-id-782 .reviews-row .ysre-reviews-summary, .page-id-782 .reviews-row .ysre-reviews-summary span {font-family: 'Roboto', sans-serif!important;text-align:center;font-size:16px;color:#fff!important;}
.page-id-782 .reviews-row .review_item {padding: 10px;color: #353535;border: 0px solid #AAA;border-radius: 0px;font-weight:400!important;background-color: #fff;box-shadow: 0px 0px 0px #999;text-align:center;}
.page-id-782 .reviews-row .ysre-ui-stream-message, .page-id-782 .reviews-row .ysre-reviewer-name_carousel {font-family: 'Roboto', sans-serif!important;font-weight:400!important;color:#fff!important;}
.page-id-782 .reviews-row .ysre-admin-response_carousel {margin-top:20px;padding:10px;background:#f9f6f4;box-shadow: 0px 0px 0px #999;font-size:14px;}
.page-id-782 .reviews-row .ysre-ui-stream-message_carousel {padding:20px!important;font-size:14px;font-family: 'Roboto', sans-serif!important;font-weight:400!important;color:#fff!important;}
.page-id-782 .reviews-row #yourSalonReviews .review_item_inner_carousel, .page-id-782 .reviews-row #yourSalonReviews .review_item_carousel {background:none;}
.page-id-782 .reviews-row .bx-wrapper {background:transparent;}
.page-id-782 .services-row {padding:0px 30px;}
.page-id-782 .view .mask {z-index:2;top:90%;border:0px;left: 20%;transform: translate(-10%, -50%);background:transparent;}
.page-id-782 .view-19:hover .mask {top: 50%!important;background:rgba(0,0,0,0.5);}
.page-id-782 br.clear {display: none;}
.page-id-782 .view h2 {margin:0px;font-family: 'Roboto', sans-serif!important;font-size:42px!important;color:#f4d540;text-shadow:4px 2px 5px #000;}
.page-id-782 .view p {font-size:15px!important;}
.page-id-782 .view a.info {font-weight:700;color:#fff!important;}
.page-id-782 .view a.info:hover {color:#f4d540!important;text-decoration:none!important;}

/* BUTTONS */
.wout-button, .wout-button:visited {display:inline-block;margin:10px 10px 10px 0px;padding:10px 15px;font-size:14px;border:1px solid #fff;background:transparent;color:#fff!important;text-decoration:none!important;}
.wout-button:hover {background:#4b4b4e;border:1px solid #4b4b4e;color:#fff!important;text-decoration:none!important;}
.wout-button:last-child {margin:0;}

/* CATLIST */
.catlist-layout-5 .catlist-title h2, .catlist-layout-6 .catlist-title h2 {color: #f4d540; }

/* CONTACT PAGES */
.single-contact #primary {width: 100%; }
.single-contact #secondary {display: none; }

.single-contact #content img.wp-post-image {display: none; }
.single-contact #content h1 {text-align: center; }
.single-contact #content .so-panel {border: 1px solid #565656; margin: 5px; padding: 10px; } 

/* PRICES */
table.prices {width: 100%; border: 1px solid #333; }
table.prices th {text-align: left; padding-top: 30px; background: linear-gradient(#353535, #2f2f2f); line-height: 2; color: #f4d540; }

table.prices td {border-bottom: 1px dashed #f4d540; padding: 5px; }

/* FOOTER */
.site-footer [class^="widget"] * { color: #fff;}
.site-footer {padding:40px 0px;background: transparent; font-family: 'Roboto', sans-serif; border-top:2px solid #000; }
.site-footer  .top-row {max-width:1200px;margin:0 auto;text-align:center;}
.site-footer  .top-row .social-icons {margin-top:10px;}
.site-footer  .top-row .social-icons a.sg-social-instagram, .site-footer .top-row .social-icons a.sg-social-facebook {color:#fff!important;background-color:transparent!important;}
.site-footer  a, .site-footer  p {color:#fff;font-size:14px;text-align:center;text-decoration:none;}
.site-footer  a:hover, .site-footer  .bottom-row a:hover {color:#f4d540;text-decoration:none;}
.site-footer div {font-size:14px;}
.site-footer  h3.widget-title, .site-footer h3 {margin-bottom:20px;color:#fff;font-size:16px;font-weight:600;text-align:center;}
.site-footer table {max-width:300px;margin:0px auto;}
.site-footer  table, #site-footer table.opening td {padding:2px;border:0px;font-size:14px;text-align:center;}
.site-footer  [class^="sg-contact"] {display: block;font-size:14px!important;color:#fff;text-align:center;}
.site-footer  [class^="sg-contact"] em.comma {display: none;}
.site-footer  .top-link {padding-bottom:20px;text-align:center;font-size:14px;}
.site-footer  .bottom-row {text-align:center;color:#fff;}
.site-footer  .bottom-row br {display:none;}
.site-footer .bottom-row span.developer, .site-footer  .widget_footer_links a, .site-footer .widget_footer_links span, .site-footer a.sitemap {display:inline-block!important;margin-right:15px;font-size:12px!important;color:#fff;text-decoration:none;}